HTML, body{
  font-family : sans-serif;
  background: #e2e1e0;
    text-align : center;
}
a:link {
  text-decoration: none;
}
button {
  border-radius: 2px;
  margin: 2px;
  background-color: #06461f;
  color: white;
  width: 90%;
}
button:hover{
  font-size: 14px;
}
button:focus {
  border: 3px solid black;
}
.pokemon-list-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.nav-button-container{
  display: flex;
  flex-direction: row;
}
.nav-button-container button {
  width: 50%;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 10px;
  background-color: #BFF9FF;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: scroll;
}
.poke-cell {
  width: 120px;
  height: 120px;
  margin: 10px;
  background-color: #FFF;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}
.evolutions-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pokemon-evolutions{
  overflow: scroll;
  height: 90%;
}
.detail-view {
  width: 30%;
  height: 100%;
  padding: 10px;
  background-color: #df095e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sprite-image {
  height: 222px;
  margin: 10px auto;
  background-color: #585858;
  border: 15px solid #DEDEDE;
  border-radius: 5px;
  color: #585858;
}
.details-wrapper{
  height: 100%;
  width: 50%;
  display: contents;
}
.data-wrapper {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: #585858;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
  color: #FFF;
}
.pokemon-name {
}
.data-name {
  margin: 0 0 5px;
}

.data-char {
  font-size: 10px;
}

.App {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 80vh;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #FE0065;
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}
.menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:1200px) {
  .App{
    flex-direction: column;
    width: 90vw;
    overflow: scroll;
  }
  .pokemon-list-container{
    flex: 1 0 40vh;
    width: 80vw;
    overflow: scroll;
  }
  .details-wrapper{
    height: 50%;
    width: 80vw;
    flex: 1 0 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .detail-view{
    width: auto;
  }
  .pokemon-evolutions{
    display: flex;
  }
}
